mkdocs>=1.6
mkdocs-bootswatch>=1.1
mkdocs-mermaid2-plugin>=1.2.1
plantuml-markdown>=3.9.0
mkdocs-minify-plugin>=0.8.0
mkdocs-git-revision-date-localized-plugin>=1.2.4
mkdocs-glightbox>=0.4.0
pymdown-extensions>=10.7
mkdocs-gen-nav-plugin>=0.2.0
PyYAML>=6.0.1
mkdocs-material>=9.5
mkdocs-to-pdf>=0.9.3
mkdocs-awesome-pages-plugin>=2.7.1
mkdocs-macros-plugin>=1.2.1